/software_medias/Liga_test_windows_fem
/software_medias/Liga_test_windows_masc
/software_medias/medias_masc
/software_medias/medias_fem
/software_medias/Liga_test_linux_fem
/software_medias/Liga_test_linux_masc